includedir /etc/munin/munin-conf.d

contacts {{ munin.contacts | join(" ", attribute='name') }}
{% for contact in munin.contacts %}

contact.{{ contact.name }}.command {{ contact.command }} {{ contact.email }}
contact.{{ contact.name }}.always_send warning critical
{% endfor %}
